* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #ddd;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.book {
  padding: 2em;
  margin-top: 250px;
}
.select-wrapper {
  position: relative;
  font-size: 1.2em;
  min-height: 100px;
  height: 1px;
}
select {
  width: 300px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 10px 15px;
  background-color: #888;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 35px;
  width: 14px;
  height: 8px;
  background-image: url(/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
legend {
  font-size: 18px;
  font-weight: bold;
}
label {
  display: block;
  margin-top: 10px;
}
.form {
  position: absolute;
  top: 270px;
  left: calc(50% - 150px);
  width: 300px;
  background: rgb(231, 235, 240);
  padding: 20px 15px;
  border-radius: 10px;
  border: 1px solid #666;
}
input {
  padding: 10px;
  outline: none;
  border-radius: 5px;
}
.label_red {
  color: red;
}
.input_red {
  border: 1px solid red;
}
.buy {
  display: flex;
  justify-content: space-around;
}
.error {
  font-size: 14px;
  color: red;
}
